
    <md-card md-colors="{background: 'green-200'}">
        <md-card-header>
            <div class="material-icons md-48" style="margin-right: 5px;">person</div>
            <md-card-header-text>
                <span>{{item._m_name}}</span>
                <span class="md-subhead">{{item._m_phone}}</span>
            </md-card-header-text>
            <div class="material-icons md-48" style="margin-right: 5px;">access_time</div>
            <md-card-header-text>
                <span>35 minutes</span>
                <span class="md-subhead">50000 VND</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ng-click="dialog_cancel()">
                <div class="material-icons md-16" style="margin-right: 5px;">edit</div>
            </md-button>
            <md-button class="md-icon-button" ng-click="dialog_cancel()">
                <div class="material-icons md-16" style="margin-right: 5px;">close</div>
            </md-button>
        </md-card-actions>
    </md-card></div>
