<!DOCTYPE html>
<html ng-app="WMApp" >
    <head>
        <title>WM Management System</title>

<!--         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>

        <script src="angular-smart-table/dist/smart-table.js"></script>
 -->


        <link rel="stylesheet" href="angular-material/angular-material.min.css">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script src="angular/angular.min.js"></script>
        <script src="angular-aria/angular-aria.min.js"></script>
        <script src="angular-animate/angular-animate.min.js"></script>
        <script src="angular-material/angular-material.min.js"></script>
        <script src="angular-smart-table/dist/smart-table.min.js"></script>
        <script src="alasql/dist/alasql.min.js"></script>
        <script src="xlsx/dist/xlsx.core.min.js"></script>


        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
    </head>
    <body>

<!--             <ul ng-repeat="item in rowCollection">
                <li>wm id: {{item.wm_id}}, state: {{item.state}}, last run: {{item.last_run | date:"dd/MM/yyyy @ h:mm:ss a"}}, running count: {{item.running_count}}</li>
            </ul>
 -->

<!--         <div id="four-columns" class="grid-container" style="display:block;">
            <ul class="rig columns-4">
                <li sticky-note ng-repeat="note in notes" note="note" class="alert alert-block sticky-note" ondelete="deleteNote(id)">
                    <button type="button" class="close" ng-click="deleteNote(note.id)">&times;</button>
                    <span ng-model="note.title"> 1 </span>
                </li>
            </ul>
        </div> -->

<!-- <div ng-controller="AppCtrl" class="md-padding" id="popupContainer" ng-cloak>

    <div class="row">
        <div class="col-md-2">
            <div class="thumbnail">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="showPrompt($event)"><span aria-hidden="true">&times;</span></button>
                <span class="numbers">50</span>
            </div>
        </div>
</div> -->


        <!-- <div style="clear: none|left|right|both|initial|inherit;"></div> -->

    <div ng-controller="MainCtrl as ctrl" md-colors="{background: 'grey-200'}" primary="primary" accent="accent">
        <!-- <md-content> -->

<!-- <md-content class="md-padding" layout="row" layout-wrap>
<wm-card flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="33"></wm-card>
</md-content>

<md-content class="md-padding" layout="row" layout-wrap>
<fact-used-item flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="33" ng-repeat="item in fact_used_dc"></fact-used-item>
</md-content> -->

        <md-tabs md-dynamic-height md-border-bottom class="md-primary">
            <md-tab label="Washing Machines">
                <md-content class="md-padding">
                    <h1 class="md-display-1">Washing machines</h1>

                    <table st-table="wm_dc" st-safe-src="wm_rc" class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <th style="text-align: center" st-sort="_m_wm_id">ID</th>
                                <th style="text-align: center" st-sort="_m_last_run">Last Run</th>
                                <th style="text-align: center" st-sort="_m_state">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in wm_dc" md-colors="{background: '{{row._m_state==0 ? 'green-200' : row._m_state==1 ? 'grey-200' : 'red-200' }}'}">
                                <td>{{row._m_wm_id}}</td>
                                <td>{{row._m_last_run | date:"dd/MM/yyyy @ h:mm:ss a" }}</td>
                                <td>{{row._m_state==0 ? 'Online' : row._m_state==1 ? 'Offline' : 'Running' }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </md-content>
            </md-tab>

            <md-tab label="Cards">
                <md-content class="md-padding">
                    <h1 class="md-display-1">Cards</h1>
                    <table st-table="fact_used_dc" st-safe-src="fact_used_rc" class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <th style="text-align: center" st-sort="_m_name">Name</th>
                                <th style="text-align: center" st-sort="_m_phone">Phone</th>
                                <th style="text-align: center" st-sort="_m_duration">Duration</th>
                                <th style="text-align: center" st-sort="_m_cost">Cost</th>
                                <!-- <th style="text-align: center" st-sort="_m_wm_name">Washing Machine</th> -->
                                <!-- <th style="text-align: center" st-sort="_m_used_at">Used At</th> -->
                                <th style="text-align: center">Edit</th>
                                <!-- <th style="text-align: center">Payment</th> -->
                                <th style="text-align: center">Discard</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- md-colors="{background: 'light-blue-900'}" -->
                            <!-- <tr ng-repeat="row in fact_used_dc" ng-class="row._m_is_paid ? 'success' : 'danger'"> -->
                            <tr ng-repeat="row in fact_used_dc" md-colors="{background: '{{row._m_is_paid ? 'green-200' : row._m_wm_id ? 'yellow-200' : 'grey-200' }}'}">
                                <td>{{row._m_name}}</td>
                                <td>{{row._m_phone}}</td>
                                <td>{{row._m_duration | to_time_string : 60000 }}</td>
                                <td>{{row._m_cost}}</td>
                                <!-- <td>{{row._m_wn_name}}</td> -->
                                <!-- <td >{{row._m_used_at ? (row._m_used_at | date:"dd/MM/yyyy @ h:mm:ss a") : '-'}}</td> -->
                                <td>
                                    <md-button class="md-icon-button" ng-click="show_dialog(row)">
                                        <md-icon class="material-icons md-24 black">edit</md-icon>
                                    </md-button>
                                </td>
                                <!-- <td>
                                    <md-button class="md-icon-button" ng-disabled="row._m_is_paid" ng-click="btn_paid(row)">
                                        <md-icon class="material-icons md-24 black">print</md-icon>
                                    </md-button>
                                </td> -->
                                <td>
                                    <md-button class="md-icon-button" ng-disabled="row._m_is_paid || row._m_used_at" ng-click="remove_card(row)">
                                        <md-icon class="material-icons md-24 black">close</md-icon>
                                    </md-button>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </md-content>
            </md-tab>

            <md-tab label="Histories">
                <md-content class="md-padding">
                    <h1 class="md-display-1">Histories</h1>
                    <div layout="row" layout-align="center center">
                        <md-datepicker ng-model="rp_from" md-placeholder="From" ng-change="get_history()" md-max-date="rp_to"></md-datepicker>
                        <md-datepicker ng-model="rp_to" md-placeholder="To" ng-change="get_history()" md-min-date="rp_from" md-max-date="ctrl.to_day"></md-datepicker>
                        <!-- <md-button class="md-icon-button" ng-click="get_history()">
                            <md-icon class="material-icons md-28">refresh</md-icon>
                        </md-button> -->
                        <md-button class="md-icon-button" ng-click="btn_archive()" ng-show="history_dc.length">
                            <md-icon class="material-icons md-28">archive</md-icon>
                        </md-button>
                    </div>
                    <table st-table="history_dc" st-safe-src="history_rc" class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <th style="text-align: center" st-sort="wm_id">WM</th>
                                <th style="text-align: center" st-sort="card_id">Card</th>
                                <th style="text-align: center" st-sort="name">Name</th>
                                <th style="text-align: center" st-sort="phone">Phone</th>
                                <th style="text-align: center" st-sort="used_at">Used At</th>
                                <th style="text-align: center" st-sort="duration">Duration</th>
                                <th style="text-align: center" st-sort="cost">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in history_dc" md-colors="{background: '{{ row.is_paid ? 'grey-200' : 'yellow-200' }}'}">
                                <td>{{row.wm_id || '-'}}</td>
                                <td>{{row.card_id}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.phone}}</td>
                                <td>{{row.used_at || '-' }}</td>
                                <!-- <td>{{row.duration | to_time_string : 60000 }}</td> -->
                                <td>{{row.duration}}</td>
                                <td>{{row.cost}}</td>
                            </tr>
                            <tr md-colors="{background: 'indigo-200'}">
                                <td>TOTAL</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>{{history_dc.length}}</td>
                                <td>{{total_duration}}</td>
                                <td>{{total_cost}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </md-content>
            </md-tab>

        </md-tabs>
        <!-- </md-content> -->

    </div>


<!--
        <script src="classes/cocos2d.js"></script>
        <div style="text-align: center; font-size: 0">
            <canvas id="gameCanvas" width="600" height="600">
                Your browser does not support the canvas tag
            </canvas>
        </div> -->
    </body>
</html>
