<!-- <md-dialog aria-label="Mango (Fruit)" style="min-width: 40%;" ng-app="WMApp" ng-controller="MainCtrl" id="printSectionId"> -->

<md-dialog aria-label="Mango (Fruit)" style="min-width: 40%;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1 class="md-display-2">Cô Tấm Laundry</h1>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog_cancel()">
          <md-icon class="material-icons md-24">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content">
        <md-content class="md-no-momentum">
        <fieldset>
          <div layout="column" layout-padding ng-cloak>

          <div layout-gt-sm="row" md-no-float class="md-block">
            <md-autocomplete flex required
                append-icon="search"
                md-input-name="autocompleteField"
                md-delay="500"
                md-input-minlength="2"
                md-input-maxlength="30"
                md-no-cache="_m_ctrl.noCache"
                md-selected-item="_m_ctrl.selectedUser"
                md-search-text="_m_ctrl.searchTextName"
                md-selected-item-change="_m_ctrl.selectedItemChange(item, 0)"
                md-search-text-change="_m_ctrl.searchTextChange(_m_ctrl.searchTextName, 0)"
                md-items="item in _m_ctrl.searchName(_m_ctrl.searchTextName)"
                md-item-text="item.name || 'Name me please'"
                md-floating-label="Full Name"
                md-menu-class="cotam-autocomplete"
                ng-disabled="_m_ctrl.fact_used._m_is_paid || _m_ctrl.fact_used._m_used_at">
              <md-item-template>
                <!-- <span md-highlight-text="_m_ctrl.searchTextName">{{item.name}}</span> -->
                <span class="item-title">
                  <md-icon class="material-icons md-24">person</md-icon>
                  <span> {{item.name}} </span>
                </span>
                <span ng-show="item.phone" class="item-metadata">
                  <md-icon class="material-icons md-18">phone</md-icon>
                  <span>{{item.phone}}</span>
                </span>
              </md-item-template>
              <!-- <md-not-found>
                No states matching "{{ctrl.searchText}}" were found.
                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
              </md-not-found> -->
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> have a name.</div>
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
              </div>
            </md-autocomplete>
          </div>

          <div layout-gt-sm="row" md-no-float class="md-block">
            <md-autocomplete flex required
                md-input-name="autocompleteField"
                md-delay="500"
                md-input-minlength="2"
                md-input-maxlength="30"
                md-no-cache="_m_ctrl.noCache"
                md-selected-item="_m_ctrl.selectedUser"
                md-search-text="_m_ctrl.searchTextPhone"
                md-selected-item-change="_m_ctrl.selectedItemChange(item, 1)"
                md-search-text-change="_m_ctrl.searchTextChange(_m_ctrl.searchTextPhone, 1)"
                md-items="item in _m_ctrl.searchPhone(_m_ctrl.searchTextPhone)"
                md-item-text="item.phone || '0'"
                md-floating-label="Phone Number"
                ng-disabled="_m_ctrl.fact_used._m_is_paid || _m_ctrl.fact_used._m_used_at">
              <md-item-template>
                <!-- <span md-highlight-text="_m_ctrl.searchTextPhone">{{item.phone || ''}}</span> -->
                <span class="item-title">
                  <md-icon class="material-icons md-24">person</md-icon>
                  <span> {{item.name}} </span>
                </span>
                <span ng-show="item.phone" class="item-metadata">
                  <md-icon class="material-icons md-18">phone</md-icon>
                  <span>{{item.phone}}</span>
                </span>
              </md-item-template>
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
              </div>
            </md-autocomplete>
          </div>

            <md-input-container md-no-float class="md-block">
              <md-icon class="material-icons md-18">attach_money</md-icon>
              <input ng-model="_m_ctrl.fact_used._m_cost" type="number" required type="number" placeholder="Cost" ng-disabled="_m_ctrl.fact_used._m_is_paid || _m_ctrl.fact_used._m_used_at">
            </md-input-container>

            <md-radio-group ng-model="_m_ctrl.fact_used._m_duration" layout="row" ng-disabled="{{_m_ctrl.fact_used._m_is_paid || (_m_ctrl.fact_used._m_used_at!=undefined) }}">
              <md-radio-button value="40" class="md-primary">40 minutes</md-radio-button>
              <md-radio-button value="80">80 minutes</md-radio-button>
            </md-radio-group>

            <!-- <p>{{user_used.duration | calculate_money | currency:"":0}} VND</p> -->
          </div>
        </fieldset>

        </md-content>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>

      <md-button class="md-icon-button" ng-disabled="_m_ctrl.fact_used._m_is_paid" ng-click="dialog_paid(_m_ctrl.fact_used)">
          <md-icon class="material-icons md-24 black">print</md-icon>
      </md-button>

      <md-button class="md-icon-button" ng-disabled="_m_ctrl.fact_used._m_is_paid || _m_ctrl.fact_used._m_used_at" ng-click="dialog_save(_m_ctrl.fact_used)">
          <md-icon class="material-icons md-24 black">done</md-icon>
      </md-button>

      <!-- <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="resources/icons/ic_clear_black_48px.svg" aria-label="Close dialog"></md-icon>
      </md-button> -->
    </md-dialog-actions>
  </form>

</md-dialog>
