




        <!-- <md-card md-colors="{background: 'red-100'}"> -->
        <md-card md-colors="{background: '{{row._m_state===0 ? 'green-200' : 'red-200' }}'}">

            <md-card-header>
                <div class="material-icons md-48" style="    margin-right: 5px;">local_laundry_service</div>
                <md-card-header-text>
                    <span><a href="#" ng-click="enableEditor()">Ra</a></span>
                    <span class="wm-subhead">10:10 @ am</span>
                </md-card-header-text>
                <div class="material-icons md-48" style="    margin-right: 5px;">person</div>
                <md-card-header-text>
                    <span>Le Thanh Long</span>
                    <span class="wm-subhead">01689955585</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>

