body {
  padding: 50px;
  font: 16px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #cfd8dc;
}

a {
  color: #00B7FF;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.numbers{
    font-weight:900;
    font-size:50px;
}

/*.card-media md-icon {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.87);
}
*/

.material-icons {
    /*padding: 5px;*/
}
.material-icons.md-18 {font-size: 18px; }
.material-icons.md-24 {font-size: 24px; }
.material-icons.md-28 {font-size: 28px; }
.material-icons.md-36 {font-size: 36px; }
.material-icons.md-48 {font-size: 48px; }
.material-icons.md-96 {font-size: 96px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.black { color: #000000; }
.material-icons.orange600 { color: #FB8C00; }


.colorsdemoBasicUsage span.card-title {
  padding-left: 15px;
  margin-top: 20px; }

.wm-subhead {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 24px;
}


.cotam-autocomplete li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.cotam-autocomplete li:last-child {
  border-bottom-width: 0;
}
.cotam-autocomplete .item-title,
.cotam-autocomplete .item-metadata {
  /*display: block;*/
  line-height: 2;
}
.cotam-autocomplete .item-title md-icon {
  height: 18px;
  width: 18px;
}
